<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS hosting via HttpPlatformHandler (recommended).
  Install: https://www.iis.net/downloads/microsoft/httpplatformhandler
  Point the site physical path to this folder (Backend). Build the frontend first so ./public exists.

  If the Node.js install path differs, change processPath below.
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform
      processPath="C:\Program Files\nodejs\node.exe"
      arguments=".\server.js"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\stdout"
      startupTimeLimit="120"
      startupRetryCount="10">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
